{% extends 'widepen/layout.html' %}

{% block body %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-5 position-fixed" style="right: 0;">
      <div class="mb-4">
        <img class="profile-dp rounded-circle" src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
      </div>
    
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ user_profile.first_name }} {{ user_profile.last_name }}</h5>
          <h6 class="card-subtitle">@{{ user_profile.username }}</h6><br>
          <p class="card-text">{{ user_profile.bio }}</p>
          
          {% if request.user == user_profile %} 
            <a href="{% url 'edit_profile' user_id=user.id %}" class="btn btn-primary mb-2">Edit Profile</a><br>

            <a href="{% url 'logout' %}" class="btn btn-danger">Sign out</a>
            
          {% endif %}
        </div>
      </div>
    </div>
    
    </div>

    <div class="col-md-7 ml-auto">
      <h2><strong>{{ user_profile.first_name }} {{ user_profile.last_name }}</strong></h2>

      <div class="row">
        <div class="col-md-12">
          {% for post in user_post %}
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="{% url 'post_read' post_id=post.id %}" class="text-decoration-none">{{ post.title }}</a>
                  </h5>
                  <p class="card-text truncate">{{ post.story|striptags|truncatechars_html:150|linebreaksbr }}</p>
                  <p class="card-text"><small class="text-muted">Published on: {{ post.post_date }}</small></p>
                </div>
              </div>
              <div class="col-md-4">
                {% if post.image_url %}
                  <img src="{{ post.image_url }}" class="img-fluid rounded-start" alt="{{ post.title }}">
                {% else %}
                  <img src="placeholder.jpg" class="img-fluid rounded-start" alt="{{ post.title }}">
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
